**/App_Data/**
VisualStudio.gitignore
*.swp
*.css.map
packages/
.vs/
*.nupkg
*.csproj.user
Forge.Museum.Core/Forge.Museum.API/bin/
Forge.Museum.Core/Forge.Museum.API/obj/
Forge.Museum.Core/Forge.Museum.Common/bin/
Forge.Museum.Core/Forge.Museum.Common/obj/
Forge.Museum.Core/Forge.Museum.Interfaces/bin/
Forge.Museum.Core/Forge.Museum.Interfaces/obj/
Forge.Museum.Core/Forge.Museum.API.Tests/bin/
Forge.Museum.Core/Forge.Museum.API.Tests/obj/
Forge.Museum.Core/Forge.Museum.Web.Tests/bin/
Forge.Museum.Core/Forge.Museum.Web.Tests/obj/
Forge.Museum.Core/Forge.Museum.Web/bin/
Forge.Museum.Core/Forge.Museum.Web/obj/
Forge.Museum.Core/Forge.Museum.BLL/bin/
Forge.Museum.Core/Forge.Museum.BLL/obj/
