<link href="~/Content/reset.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    60 Smith Steet<br />
    Cleveland, QLD 4165<br />
    <abbr title="Phone">Phone:</abbr>
    +61 +7 32863494
</address>

<address>
    <strong>Admin:</strong>   <a href="mailto:admin@redlandmuseum.org.au">admin@redlandmuseum.org.au</a><br />
</address>