/* Navbar background colour */
.navbar-inverse {
    background-color: #05ffff;
    border-color: #05ffff;
}

/* Navbar Heading Color */
.navbar-inverse .navbar-brand {
    color: #000000;
}

/* Navbar Heading Rollover Color */
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
     color: #ef7f2c; 
}

/* Navbar Page Link Text Color*/
.navbar-inverse .navbar-nav > li > a {
    color: #000000;
    font-weight: bold;
}

/* Navbar Page Link Text Rollover Color*/
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ef7f2c;
    font-weight: bolder;
}

