<div class="jumbotron">
    <h1>Forge</h1>
    <p class="lead">This is the Web API Application for Team Forge Museum Applications.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
    </div>
    <div class="col-md-4">
        <h2>API Information</h2>
        <p>Information on the endpoints for this REST Web API.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Help")">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Swagger</h2>
        <p>Interface for navigating and testing the implemented REST Web API endpoints.</p>
        <p><a class="btn btn-default" href="/swagger">View &raquo;</a></p>
    </div>
</div>
